---
import "../styles/global.css";
import "@fontsource/lexend";

interface Props {
	title: string;
	description?: string;
}

const {
	title,
	description = "Home Cleaning & Co - Professional Cleaning Services in St. Petersburg, FL",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth" style="scroll-padding-top: 100px;">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
			rel="stylesheet"
		/>
		<slot name="head" />
	</head>
	<body
		class="bg-background text-text font-sans antialiased selection:bg-primary selection:text-white"
	>
		<slot />
	</body>
</html>
