---
interface Props {
    id?: string;
    class?: string;
    containerClass?: string;
    fullWidth?: boolean;
}

const { id, class: className, containerClass, fullWidth = false } = Astro.props;
---

<section id={id} class:list={["py-16 md:py-24", className]}>
    {
        fullWidth ? (
            <slot />
        ) : (
            <div
                class:list={["container mx-auto px-4 md:px-6", containerClass]}
            >
                <slot />
            </div>
        )
    }
</section>
